.footer{
    height: 503px;
    background: #000000;
    color: white;
   text-align: center;
   padding: 1rem 5rem;
}
.footer p{
  margin: 1rem 0;
}
.footer .icons{
   color: white;
   
  
   gap: 1rem;
}